<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
</head>

<body>
    <h2 class="w3-center">Welcome to Rent-It-Out</h2>
    <h3 class="w3-center">Rent out your car and make money out of it</h3>

    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>The finest machinaries at an affordable price</h1>
        <p>1. Register you machine</p>
        <p>2. Check out listings</p>
        <p>3. Be ready to get over a 100+ calls a minute</p>
        <p>4. Earn your cash</p>
    </div>

    <div ng-show=""></div>
</body>
</html>