
<div>
    <br>
    <br>

    <button name="showAllBTN" type="button" class="btn btn-warning" ng-click="pull.showAll()"> Show All </button>
    <button name="showLessBTN" type="button" class="btn btn-success" ng-click="pull.showLess(limit)"> Show Less </button>
    <br>
    <br>
    <div class="searchbar">
        <span>
            <input type="text" name="searchBox" placeholder="Search...">
        </span>
    </div>

    <div class="row show-hide-message" ng-show="pull.successMsg">
        <div class="alert alert-success">{{ pull.successMsg }}</div>
    </div>

    <br>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Registration Number</th>
            <th scope="col">Type of Vehicle</th>
            <th scope="col">Available From</th>
            <th scope="col">Available Until</th>
            <th scope="col">Contact Number</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in pull.dataregistry | limitTo: pull.limit"> <!--controller being PULL and we use it collect the data from DB-->
            <td>{{ person.plateNumber }}</td>
            <td>{{ person.taxiName }}</td>
            <td>{{ person.startingDate }}</td>
            <td>{{ person.completionDate }}</td>
            <td>{{ person.contactNumber }}</td>
            <td>
                <button type="button" class="btn btn-primary"> Edit </button>
                <button type="button" class="btn btn-danger" ng-click="pull.remove(person._id);"> Cancel </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>